<ion-header>
  <ion-toolbar>
    <ion-title>Equipos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br/>
  <ion-card color="light">
    <ion-card [routerLink]="['/verEquipo/Equipo1']" id="CardAnimation">
      <div align="center">
        <img class="img-tamanio" style="width: 70px; height: 70px" src="/assets/images/Equipo1Logo.png"/>
      </div>
    </ion-card>
  </ion-card>
  <br/>
  <ion-card color="light">
    <ion-card [routerLink]="['/verEquipo/Equipo2']" id="CardAnimation">
      <div align="center">
        <img class="img-tamanio" style="width: 70px; height: 70px" src="/assets/images/Equipo2Logo.png"/>
      </div>
    </ion-card>
  </ion-card>
  <br/>
  <ion-card color="light">
    <ion-card [routerLink]="['/verEquipo/Equipo3']" id="CardAnimation">
      <div align="center">
        <img class="img-tamanio" style="width: 70px; height: 70px" src="/assets/images/Equipo3Logo.png"/>
      </div>
    </ion-card>
  </ion-card>
  <br/>
  <ion-card color="light">
    <ion-card [routerLink]="['/verEquipo/Equipo4']" id="CardAnimation">
      <div align="center">
        <img class="img-tamanio" style="width: 70px; height: 70px" src="/assets/images/Equipo4Logo.png"/>
      </div>
    </ion-card>
  </ion-card>
  <br/>
  <ion-card color="light">
    <ion-card [routerLink]="['/verEquipo/Equipo5']" id="CardAnimation">
      <div align="center">
        <img class="img-tamanio" style="width: 70px; height: 70px" src="/assets/images/Equipo5Logo.png"/>
      </div>
    </ion-card>
  </ion-card>
  <br/>
  <ion-card color="light">
    <ion-card [routerLink]="['/verEquipo/Equipo6']" id="CardAnimation">
      <div align="center">
        <img class="img-tamanio" style="width: 70px; height: 70px" src="/assets/images/Equipo6Logo.png"/>
      </div>
    </ion-card>
  </ion-card>
  <br/>

</ion-content>
