<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Seleccion Personajes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-searchbar placeholder="Buscar..." animated (ionChange)="BuscadorPersonajes($event)"></ion-searchbar>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="5" size-xs="6" *ngFor="let item of searcherPersonaje"  >
        
        <ion-card [ngSwitch]="item" (click)="agregarPersonaje(item)" class="card-tamanio">
          <div *ngSwitchCase="'traveler-anemo'">
            <img class="img-tamanio" src="/assets/PersonajesImages/{{item}}/TravelersPortada.png"/>
            <ion-card-header>
              <ion-card-subtitle align="center">{{item}}</ion-card-subtitle>
            </ion-card-header>
          </div>
          <div *ngSwitchCase="'traveler-dendro'">
            <img class="img-tamanio" src="/assets/PersonajesImages/{{item}}/TravelersPortada.png"/>
            <ion-card-header>
              <ion-card-subtitle align="center">{{item}}</ion-card-subtitle>
            </ion-card-header>
          </div>
          <div *ngSwitchCase="'traveler-electro'">
            <img class="img-tamanio" src="/assets/PersonajesImages/{{item}}/TravelersPortada.png"/>
            <ion-card-header>
              <ion-card-subtitle align="center">{{item}}</ion-card-subtitle>
            </ion-card-header>
          </div>
          <div *ngSwitchCase="'traveler-geo'">
            <img class="img-tamanio" src="/assets/PersonajesImages/{{item}}/TravelersPortada.png"/>
            <ion-card-header>
              <ion-card-subtitle align="center">{{item}}</ion-card-subtitle>
            </ion-card-header>
          </div>
          <div *ngSwitchDefault>
            <img class="img-tamanio" src="/assets/PersonajesImages/{{item}}/icon-big.png"/>
            <ion-card-header>
              <ion-card-subtitle align="center">{{item}}</ion-card-subtitle>
            </ion-card-header>
          </div>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>